body{
    background-color: lightgray;
}
#container1,
#container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#chatBox {
    width: 400px;
    height: 400px;
    border: 1px solid #000000;
    overflow-y: scroll;
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 18px;
}

#messageInput {
    width: 50%;
    height: 40px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 18px;
}

#messageInput::placeholder {
    font-style: italic;
    font-size: 18px;
}

h1 {
    margin-bottom: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.message {
    margin: 5px 0;
}

.sender {
    font-weight: bold;
}
